@import "bootstrap";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.even {
  color: var(--bs-success);
}

.odd {
  color: var(--bs-danger)
}

.divisible-by-three {
  color: orange;
}